<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="RantaMaster"
      connectionString="Data Source=10_237_146_131\BLUESERVER;Initial Catalog=RantaMaster;Integrated Security=True"
      xdt:Locator="Match(name)" xdt:Transform="Replace" />
  </connectionStrings>
  <!--<system.web>
    <customErrors mode="Off" xdt:Transform="Replace" />
  </system.web>-->
</configuration>